################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/process_1.txt
/process_2.txt
